<div class="sticky top-0 shadow" style="background-color: #43766c">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
      </div>

      <form
        class="flex"
        action="http://localhost/site/reroute.php"
        method="post"
      >
        <button
          class="my-1 rounded px-4 py-2 font-bold"
          style="background-color: #fff4e0; color: #000000"
          onmouseover="this.style.backgroundColor='#e0d4c1';"
          onmouseout="this.style.backgroundColor='#FFF4E0';"
          type="submit"
          name="redirectTo"
          value="http://localhost/site/public/LoginPage.php"
        >
          Sākums
        </button>
        <button
          class="my-1 ml-4 rounded px-4 py-2 font-bold"
          style="background-color: #fff4e0; color: #000000"
          onmouseover="this.style.backgroundColor='#e0d4c1';"
          onmouseout="this.style.backgroundColor='#FFF4E0';"
          type="submit"
          name="redirectTo"
          value="http://localhost/site/public/EventPage.php"
        >
          Pasākumi
        </button>
        <button
          class="my-1 ml-4 rounded px-4 py-2 font-bold"
          style="background-color: #fff4e0; color: #000000"
          onmouseover="this.style.backgroundColor='#e0d4c1';"
          onmouseout="this.style.backgroundColor='#FFF4E0';"
          type="submit"
          name="redirectTo"
          value="http://localhost/site/public/MessagesPage.php"
        >
          Ziņudēlis
        </button>
        <button
          class="my-1 ml-4 rounded px-4 py-2 font-bold"
          style="background-color: #fff4e0; color: #000000"
          onmouseover="this.style.backgroundColor='#e0d4c1';"
          onmouseout="this.style.backgroundColor='#FFF4E0';"
          type="submit"
          name="redirectTo"
          value="http://localhost/site/public/AdminPage.php"
        >
          Admin
        </button>
      </form>
      <form action="../AuthScript.php" method="post">
        <button
          class="ml-4 rounded bg-red-500 px-4 py-2 font-bold text-white hover:bg-red-700"
          type="submit"
          name="Logout"
          value="public/LoginPage.php"
        >
          <?php if (session_status() == PHP_SESSION_NONE) { session_start(); }
          if (isset($_SESSION['username'])) { echo "Izrakstīties"; } else { echo
          "Pieslēgties"; } ?>
        </button>
        <label>
          <?php if (session_status() == PHP_SESSION_NONE) { session_start(); }
          if (isset($_SESSION['username'])) { echo "<label style=\"color: #fff4e0\"
            ><b>" . htmlspecialchars($_SESSION['username']) . "</b></label>"; }
             else { echo "<label style=\"color: #fff4e0\"><i>Viesis</i></label
          >"; } ?>
        </>
      </form>
    </div>
  </div>
</div>
